/* styles.css */
/* universal selector - Applies to whole document */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: rgb(84, 84, 106);
	color: #fff;
}
/* To center everything in game */
.game{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

/* Title of the game */
.title{
	position: absolute;
	top: 10px;
	font-size: 4rem;
	color: #fc2646;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.letsPlay{
    position: absolute;
    top: 95px;
    z-index: 100;
}

/* Score Board */
.score{
	display: flex;
	width: 30vw;
	justify-content: space-evenly;
	position: absolute;
	top: 130px;
	z-index: 1;
}

/* Score */
.p-count,.c-count{
	text-align: center;
	font-size: 1.5rem;
	margin-top: 1rem;
}

/* displaying three buttons in one line */
.options{
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	margin-top: 2rem;
}

/* Styling on all three buttons */
.rock, .paper, .scissor{
	padding: 0.8rem;
	width: 100px;
	border-radius: 10px;
	background: rgb(61, 128, 157);
	outline: none;
	border-color: rgb(61, 128, 157);
	border: none;
	cursor: pointer;
}

.move{
	font-size: 2rem;
	font-weight: bold;
}

/* Reload button style */
.reload {
	display: none;
	margin-top: 2rem;
	padding: 1rem;
	background: green;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.result{
	margin-top: 20px;
	font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 700px)
{
	.title{
		text-align: center;
        font-size:50px;
	}
	.score{
		position: absolute;
		top: 170px;
		width: 100vw;
	}
    .move{
        position: absolute;
        top: 300px;
    }
    .movesleft{
        position: absolute;
        top: 370px;
    }

	.options{
        position: absolute;
        top: 400px;
		width: 100vw;
	}
    .result{
        position: absolute;
        top: 460px;
    }
    .reload{
        position: absolute;
        top: 500px;
    }
    
}
@media screen and (max-width: 540px){
	.title{
		font-size: 30px;
	}
}


